<div class="container">

    <div class="img">
        <img src="assets/thon.jpg" alt="">
    </div>
    <div class="details">
        pizza au thon: olives mozerella  
       
          
    </div>

        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="bold">S</mat-button-toggle>
          <mat-button-toggle value="italic">M</mat-button-toggle>
          <mat-button-toggle value="underline" checked>L</mat-button-toggle>
          <mat-button-toggle value="underlie" >XL</mat-button-toggle>

        </mat-button-toggle-group>
        <p class="price">
            8DT
        </p>
      <button class="button middlex">Ajouter</button>
      
   
</div>
