.container{
padding: 1rem 1rem;

    img{
        width: 300px;
        height: 300px;
    }
    .details{
        color: #777;
        width: 280px;
        word-break: break-all;

    }
    .price{
        text-align: center;
        color: #f00;
        font-weight: 600;
        font-size: large;
        margin-top: .5rem;
    }
}
mat-button-toggle-group {
    margin-left: 50%;
    transform: translateX(-50%);
  }