<div class="container">

    <div class="img">
        <img [src]="pizza.image" alt="">
    </div>
    <div class="details">
      {{pizza.nom}} : {{pizza.description}}
 
       
          
    </div>

        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="prix">
          <mat-button-toggle value="m">M</mat-button-toggle>
          <mat-button-toggle value="l" checked>L</mat-button-toggle>
          <mat-button-toggle value="xl" >XL</mat-button-toggle>

        </mat-button-toggle-group>
        <p class="price" *ngIf="prix=='m'">
            {{pizza.prixm}}
        </p>
        <p class="price" *ngIf="prix=='l'">
            {{pizza.prixl}}
        </p>
        <p class="price" *ngIf="prix=='xl'">
            {{pizza.prixxl}}
        </p>
      <button class="button middlex" (click)="ajout()">Ajouter</button>
      
   
</div>
