<div class="container">
    <div class="flex-container">
        <div class="img" (click)="makloub=true">
            <div class="backgroundcolor"></div>
            <img src="assets/makloub.jpg" alt="">
            <div class="writing middle">Makloub</div>

        </div>
        <div class="img" (click)="pizza=true">
            <div class="backgroundcolor"></div>

            <img src="assets/background.jpg" alt="">
            <div class="writing middle">Pizza</div>
        </div>
        <div class="img">
            <img src="assets/soon.jpg" alt="">

        </div>

    </div>
</div>
<div *ngIf="pizza">
    <app-pizza (popup)=fermerpopup($event)></app-pizza>
</div>
<div *ngIf="makloub">
    <app-makloub (sendcommand)=getcommande($event)  (popup2)=fermerpopup1($event) ></app-makloub>
</div>