<header>
    <div class="navbar">
        
        <h1 class="titre"><svg class="home">
            <use xlink:href="assets/ico.svg#icon-home"></use>
          </svg>Acceuil</h1>&nbsp;
        <h1 class="titre"><svg class="home">
            <use xlink:href="assets/ico.svg#icon-spoon-knife"></use>
          </svg>Menu</h1>
        <h1 class="titre float">Register <svg class="home floatleft">
            <use xlink:href="assets/ico.svg#icon-add-user"></use>
          </svg></h1>&nbsp;
        <h1 class="titre float">Login <svg class="home floatleft">
            <use xlink:href="assets/ico.svg#icon-login"></use>
          </svg></h1>

        <div class="faza">
            Copa Cabana
        </div>
    </div>
    <h1 class="principale"> Vous Pouvez Maintenant Faire Une Commande En Ligne</h1>
    <button class="btn">Commander</button>
</header>
<img class="img" src="assets/undraw_Hamburger_8ge6.svg" alt="">