<div class="container bg">
    <svg class="arrow" (click)="closepopup()">
        <use xlink:href="assets/ico.svg#icon-arrow-long-left"></use>
    </svg>
    <h1>Makloub</h1>

    <div class="flex-container">
        <hr>
        <h1>Viande</h1>
        <hr>
        <div class="">
            <mat-radio-group class="viande" [(ngModel)]="command.type">

                <div class="choix" *ngFor="let viande of makloubs">


                    <img [src]="viande.image" alt="">
                    <div class="backgroundcolor"></div>
                    <div class="writing middle">{{viande.prix}}DT</div>

                    <mat-radio-button  class="checkbox" [value]="viande">{{viande.nom}}</mat-radio-button>

                </div>
             
            </mat-radio-group>
        </div>
        <hr>
        <h1>Harrisa</h1>
        <hr>
        <div>
            <mat-radio-group class="harrisa" [(ngModel)]="command.harrisa">

                <div class="choix">
                    <img class="img" src="assets/images.jpg" alt="">
                    <mat-radio-button  class="checkbox" value="1">7aRR</mat-radio-button>
                </div>
                <div class="choix">
                    <mat-radio-button  checked="true" class="checkbox" value="2">Normal
                    </mat-radio-button>

                    <img class="img" src="assets/3adi.jpg" alt="">
                </div>
                <div class="choix">
                    <mat-radio-button class="checkbox" value="3">ma8ir harrisa</mat-radio-button>

                    <img class="img" src="assets/soleil.png" alt="">
                </div>
            </mat-radio-group>
        </div>
       
        <hr>
        <h1>Ingredients</h1>
        <hr>
        <div class="viande"> 
             <div class="choix" *ngFor="let ing of ingred">
                <mat-checkbox class="checkbox" color="primary" [(ngModel)]="ing.checked" checked="true">{{ing.nom}}</mat-checkbox>
                <img class="img" [src]="ing.image" alt="">
            </div>
          

        </div>
        <button class="button middlex" (click)="ajouter()">Ajouter</button>

    </div>
</div>