<div class="container bg">
    <!-- <div class="bg"></div> -->
    <svg class="arrow" (click)="closepopup()">
        <use xlink:href="assets/ico.svg#icon-arrow-long-left"></use>
      </svg>
    <h1>Pizza</h1>

<div class="flex-container">
<div class="pizza" *ngFor="let pizza of Data" (click)="detail(pizza)">
    <img [src]="pizza.image" alt="">
    <div class="writing">{{pizza.nom}}</div>
</div>

    

    
    
</div>

</div>
<div *ngIf="details">
    <div class="backgroundcolor" (click)="details=false"></div>
<app-details [pizza]="mypizza" ></app-details>
</div>