<div class="container">
    <div class="bg"></div>
<h1>Pizza</h1>
    <img src="assets/thon.jpg" alt="">
    <img src="assets/thon.jpg" alt="">
    <img src="assets/thon.jpg" alt="">
    <img src="assets/thon.jpg" alt="">
    <img src="assets/thon.jpg" alt="">
    <img src="assets/thon.jpg" alt="">
    <img src="assets/thon.jpg" alt="">
    <img src="assets/thon.jpg" alt="">
    <img src="assets/thon.jpg" alt="">
    <img src="assets/thon.jpg" alt="">
    <img src="assets/thon.jpg" alt="">

</div>